.collapsible {
  border: none;
  cursor: pointer;
  outline: none;
  text-align: left;
  width: 100%;

  .arrow div:hover {
    color: #fafa;
  }
}

.collapsible:hover .arrow div {
  color: #fafa;
}

.content {
  padding: 0 1.25rem;
  height: 0;
  overflow: hidden;
  transition: height 0.6s ease-out;
}

.active {
  height: 125px !important;
}

.arrow {
  display: flex;
  position: relative;
  div {
    position: absolute;
    transform: rotate(90deg);
    font-size: 1.25rem;
    right: 1rem;
    top: -2.1rem;
    height: 51px;
    transition: all 0.25s linear;
  }
}
